.periods-col{
    /* display: flex;
    flex-direction: row;     */
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    height: 61px;;
    width: 100%;
}
.periods-time{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    width: 100%;
}
.periods-time-1{
    display: flex;
    grid-column: span 3 / span 3;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    width: 100%;
}
.period{
    display: flex;
    margin: 0%;
}
.time{
    display: flex;
    margin: 0%;
}